{
  "log": {
    "_recordingName": "PR/revertPr/creates a revert PR based on the pr id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d9c6392ba1766c572e6c4f671cd6deb8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"mutation revertPR($input: RevertPullRequestInput!) {\\n                 revertPullRequest(input: $input) {\\n                   revertPullRequest {\\n                     id\\n                     url\\n                     number\\n                   }\\n                 }\\n               }\\n    \",\"variables\":{\"input\":{\"pullRequestId\":\"PR_kwDOI2MKRc5PhoP1\"}}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 160,
            "text": "{\"data\":{\"revertPullRequest\":{\"revertPullRequest\":{\"id\":\"PR_kwDOI2MKRc5Z5E6Y\",\"url\":\"https://github.com/stellaservice/glueops-test-repo/pull/17\",\"number\":17}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2023-09-30 22:05:50 UTC"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4998"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1694192362"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            },
            {
              "name": "x-ratelimit-used",
              "value": "2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
