{
  "log": {
    "_recordingName": "PR/updatePrBase/updates the base of a PR",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1237bd43beb0e71328022008e360b94d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.github.com/repos/stellaservice/glueops-test-repo/pulls/26/update-branch"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 121,
            "text": "{\"message\":\"Updating pull request branch.\",\"url\":\"https://api.github.com/repos/stellaservice/glueops-test-repo/pulls/26\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://api.github.com/repos/stellaservice/glueops-test-repo/pulls/26"
            },
            {
              "name": "x-oauth-scopes",
          [...]
